In [147]:
import numpy as np
import pandas as pd
# Plotting graphs
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import metrics



# CSV File - Read
df = pd.read_csv('D:\\SageIT-DS\\nyc-rolling-sales.csv')
#  ,header=None ,skiprows=1 , names=['Cal', 'Pr', 'Fat', 'sod', 'Fib', 'Rting']


print(df.columns)

Index(['Unnamed: 0', 'BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [148]:

df1 = df.replace('-', np.nan , regex = True)

In [149]:
df1["SALE PRICE"]=df1["SALE PRICE"].astype(float)

In [150]:
df1.isnull().sum()

Unnamed: 0                            0
BOROUGH                               0
NEIGHBORHOOD                      19371
BUILDING CLASS CATEGORY           36244
TAX CLASS AT PRESENT                  0
BLOCK                                 0
LOT                                   0
EASE-MENT                             0
BUILDING CLASS AT PRESENT             0
ADDRESS                           24744
APARTMENT NUMBER                    808
ZIP CODE                              0
RESIDENTIAL UNITS                     0
COMMERCIAL UNITS                      0
TOTAL UNITS                           0
LAND SQUARE FEET                  26252
GROSS SQUARE FEET                 27612
YEAR BUILT                            0
TAX CLASS AT TIME OF SALE             0
BUILDING CLASS AT TIME OF SALE        0
SALE PRICE                        14561
SALE DATE                         84548
dtype: int64

In [151]:
df1.groupby(df1['TAX CLASS AT TIME OF SALE'])['SALE PRICE'].median()

TAX CLASS AT TIME OF SALE
1    485000.0
2    640219.0
3         0.0
4     99800.0
Name: SALE PRICE, dtype: float64

In [152]:
pd.crosstab( df1['SALE PRICE'].isnull(), df1['TAX CLASS AT TIME OF SALE'])

TAX CLASS AT TIME OF SALE      1      2  3     4
SALE PRICE
False                      33569  32161  2  4255
True                        7964   4565  2  2030

In [153]:
df1.groupby(df1['BUILDING CLASS AT TIME OF SALE'])['SALE PRICE'].median()

BUILDING CLASS AT TIME OF SALE
A0      670000.0
A1      495000.0
A2      499000.0
A3     1115000.0
A4     1200625.0
A5      445000.0
A6      221883.0
A7     5375000.0
A9      445000.0
B1      500000.0
B2      580000.0
B3      540000.0
B9      500000.0
C0      500000.0
C1     1212500.0
C2      700000.0
C3      475000.0
C4     3705000.0
C5     1400000.0
C6      283000.0
C7     4400000.0
C8     1500000.0
C9     1100000.0
CM       90000.0
D0     1480000.0
D1     7950000.0
D2     2550000.0
D3    13600000.0
D4      409128.5
D5           0.0
         ...
S0           0.0
S1      451000.0
S2      550000.0
S3      575000.0
S4      700000.0
S5      440000.0
S9      750000.0
T2      110000.0
U1           0.0
U6           NaN
V0      100000.0
V1      150000.0
V2      225000.0
V3         250.0
V6           0.0
V9      725000.0
W1           1.0
W2           0.0
W3      590000.0
W4     4787500.0
W6           0.0
W8      487505.0
W9      675000.0
Y1           1.0
Y3    16000000.0
Z0      182500.0
Z2           0.0
Z3           NaN
Z7           NaN
Z9           0.0
Name: SALE PRICE, Length: 166, dtype: float64

In [169]:
pd.crosstab( df1['SALE PRICE'].isnull(), df1['BUILDING CLASS AT TIME OF SALE'])

BUILDING CLASS AT TIME OF SALE,A0,A1,A2,A3,A4,A5,A6,A7,A9,B1,...,W6,W8,W9,Y1,Y3,Z0,Z2,Z3,Z7,Z9
SALE PRICE,,,,,,,,,,,,,,,,,,,,,
False,285,5261,2103,284,210,4646,78,11,1277,4063,...,1,2,14,1,1,10,3,0,0,133
True,144,1490,764,104,24,1025,14,5,137,684,...,1,4,10,0,0,6,1,2,1,18

In [171]:
df1['SALE PRICE'][(df1['SALE PRICE'].isnull())] = 485000

C:\Users\pranavi\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [172]:
df1['SALE PRICE'].head()

0    6625000.0
1     485000.0
2     485000.0
3    3936272.0
4    8000000.0
Name: SALE PRICE, dtype: float64

After checking with 'BUILDING CLASS AT TIME OF SALE' and 'TAX CLASS AT TIME OF SALE' I found the appropriate value to be filled is median of group 1 from 'TAX CLASS AT TIME OF SALE'